html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

p, li{
	font-size: 1.25em;
}

li
{
	padding: 2%;
}

.project-text img
{
	box-shadow: 4px 4px 12px 0px rgba(66, 68, 90, 1);
	max-width: 50%;
	max-height: 50%;
}


header {
	margin: 0;
	padding: 3vw;
	color: white;
	background-color: #222;
	display: flex;
	justify-content: space-around;
	margin-bottom: 10vh;
	
}
header h1 {
	margin-bottom: 0px;
}
.header-info {
	font-size:  1rem;
	margin: 2px;
}


.projects-title {
	text-align: center;
}

.avatar {
	object-fit:contain;
	max-width: 300px;
	width: 100%;
	height: auto;
	padding-left: 10vw;
}

.projects-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.project {
	text-align: center;
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	width: 25vw;
}

.project img {
	width: 100%;
}

.project-text {
	padding: 10% 3% ;
}

footer {
	padding: 0 20%;
	margin-top: 10vh;
	max-height: 50vh;
	min-height: 20vh;
	color: white;
	background-color: #222;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

footer p {
	font-size: 1em;
	color: #AAA;
	text-align: center;
}
.links {
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 80px;
}

footer img {
	height: 50px;
	width: 50px;
}

a:link,a:visited {
	color: #000;
}

@media screen and (max-width: 600px) {
	header {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.projects-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project {
		width: 90%;
		margin-top: 20px;
	}

	.avatar {
		 padding: 0;
	}


}